<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxvc8247bXy1WrIl9jz1XQZoQBJaB2MsU</string>
	<key>GCM_SENDER_ID</key>
	<string>879472760468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.weglobal.mobile</string>
	<key>PROJECT_ID</key>
	<string>aiweglobal</string>
	<key>STORAGE_BUCKET</key>
	<string>aiweglobal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879472760468:ios:01a7e517bace10e6aa0681</string>
</dict>
</plist>